<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="author" content="{{ site.author }}" />

    <!-- Description -->
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="{{ "/reveal.js/css/reveal.css" | prepend: site.baseurl }}"/>
    {%if page.theme %}
      <link rel="stylesheet" href="{{ "/reveal.js/css/theme/" | prepend: site.baseurl | append: page.theme | append: '.css' }}" id="theme"/>
    {% else %}
      <link rel="stylesheet" href="{{ "/reveal.js/css/theme/black.css" | prepend: site.baseurl }}" id="theme"/>
    {% endif %}

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="{{ "/reveal.js/lib/css/zenburn.css" | prepend: site.baseurl }}"/>

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "/reveal.js/css/print/pdf.css" | prepend: site.baseurl }}' : '{{ "/reveal.js/css/print/paper.css" | prepend: site.baseurl }}';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>
    </div>

    <script src="{{ "/reveal.js/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/reveal.js/js/reveal.js" | prepend: site.baseurl }}"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        {%if page.transition %}
          transition: '{{page.transition}}',
        {% else %}
          transition: 'slide', // none/fade/slide/convex/concave/zoom
        {% endif %}

        // Optional reveal.js plugins
        dependencies: [
          { src: '{{ "/reveal.js/lib/js/classList.js" | prepend: site.baseurl }}', condition: function() { return !document.body.classList; } },
          { src: '{{ "/reveal.js/plugin/markdown/marked.js" | prepend: site.baseurl }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '{{ "/reveal.js/plugin/markdown/markdown.js" | prepend: site.baseurl }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '{{ "/reveal.js/plugin/highlight/highlight.js" | prepend: site.baseurl }}', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '{{ "/reveal.js/plugin/zoom-js/zoom.js" | prepend: site.baseurl }}', async: true },
          { src: '{{ "/reveal.js/plugin/notes/notes.js" | prepend: site.baseurl }}', async: true },
          { src: '{{ "/reveal.js/plugin/menu/menu.js" | prepend: site.baseurl }}' },
          { src: '{{ "/reveal.js/plugin/chalkboard/chalkboard.js" | prepend: site.baseurl }}' },
        ],
        // settings for menu plugin
        menu: {
          markers: true,
          themes: [
            { name: 'Black', theme: '{{ "/reveal.js/css/theme/black.css" | prepend: site.baseurl }}' },
            { name: 'White', theme: '{{ "/reveal.js/css/theme/white.css" | prepend: site.baseurl }}' },
            { name: 'League', theme: '{{ "/reveal.js/css/theme/league.css" | prepend: site.baseurl }}' },
            { name: 'Sky', theme: '{{ "/reveal.js/css/theme/sky.css" | prepend: site.baseurl }}' },
            { name: 'Beige', theme: '{{ "/reveal.js/css/theme/beige.css" | prepend: site.baseurl }}' },
            { name: 'Simple', theme: '{{ "/reveal.js/css/theme/simple.css" | prepend: site.baseurl }}' },
            { name: 'Serif', theme: '{{ "/reveal.js/css/theme/serif.css" | prepend: site.baseurl }}' },
            { name: 'Blood', theme: '{{ "/reveal.js/css/theme/blood.css" | prepend: site.baseurl }}' },
            { name: 'Night', theme: '{{ "/reveal.js/css/theme/night.css" | prepend: site.baseurl }}' },
            { name: 'Moon', theme: '{{ "/reveal.js/css/theme/moon.css" | prepend: site.baseurl }}' },
            { name: 'Solarized', theme: '{{ "/reveal.js/css/theme/solarized.css" | prepend: site.baseurl }}' }
          ],
          transitions: false,
          openButton: true,
          keyboard: true
        },

        //settings for chalkboard
        chalkboard: {
          readOnly: false,
          toggleChalkboardButton: { left: "65px", bottom: "30px", top: "auto", right: "auto" },
          toggleNotesButton: { left: "100px", bottom: "30px", top: "auto", right: "auto" },
          theme: "chalkboard", // chalkboard or whiteboard
          // configuration options for annotation marker and chalk
          color: [ 'rgba(255,204,0,1)', 'rgba(255,255,255,0.5)' ],
        },

        // keyboard bindings
        keyboard: {
          // chalkboard plugin
          65: function() { RevealChalkboard.toggleNotesCanvas() },    // toggle annotation canvas when 'a' is pressed
          67: function() { RevealChalkboard.toggleChalkboard() }, // toggle chalkboard when 'c' is pressed
          46: function() { RevealChalkboard.clear() },    // clear chalkboard when 'DEL' is pressed
          8: function() { RevealChalkboard.reset() },    // reset chalkboard data on current slide when 'BACKSPACE' is pressed
          68: function() { RevealChalkboard.download() }, // downlad recorded chalkboard drawing when 'd' is pressed
        }

      });

    </script>

  </body>
</html>
